.taskForm {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(8rem/16);
    margin-bottom: calc(64rem/16);
}

.taskForm input {
    width: 100%;
    background: var(--gray-500);
    border: calc(1rem/16) solid var(--gray-700);
    padding: 1rem;
    border-radius: calc(8rem/16);
    color: var(--gray-300);
    line-height: 1.4;
}

.taskForm button[type="submit"] {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: calc(14rem/16);
    font-weight: bold;

    padding: 1rem;
    gap: calc(8rem/16);

    background: var(--blue-dark);
    color: var(--gray-100);
    border-radius: calc(8rem/16);
    border: 0;

    cursor: pointer;
    transition: filter 0.1s;
}

.taskForm button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.taskForm button[type="submit"]:not(:disabled):hover {
    filter: brightness(110%);
}

.taskHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.taskHeader strong {
    font-size: calc(14rem/16);
    color: var(--blue);
}

.taskHeader strong:last-child {
    color: var(--purple);
}


.taskHeader strong span {
    display: inline-block;
    font-size: calc(12rem/16);
    padding: calc(2rem/16) calc(8rem/16);
    text-align: center;
    border-radius: calc(14rem/16);
    background: var(--gray-400);
    color: var(--gray-200);
    margin-left: calc(8rem/16);
}

.taskList {
    margin-top: calc(32rem/16);
}

.taskEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--gray-300);
    padding: calc(64rem/16) 0;
    line-height: 1.4;
    border-top: calc(1rem/16) solid #333;
}

.taskEmpty img {
    height: calc(56rem/16);
    margin-bottom: 1rem;
}
